<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carbon Footprint Calculator</title>
    <link rel="stylesheet" href="static/style1.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">CFC</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="calculate">CALCULATE</a></li>
                </ul>
            </div>
            <div class="country-select">
                <select class="country-dropdown" name="country">
                    <option value="" disabled selected>Select Country</option>
                    <option value="India">India</option>
                </select>
            </div>
        </div>
        <div class="content">
                <h1>Carbon Footprint Calculator <br><span>For Coal Mines</span></h1>
                <p class="par">The Carbon Footprint Calculator for Coal Mines helps assess and <br> 
                reduce environmental impact by analyzing fuel consumption and <br> emissions. 
                This tool empowers mining operations <br> to implement sustainable practices and track progress <br> 
                toward achieving carbon neutrality and regulatory compliance.</p>
        </div>
    </div>
</body>
</html>